﻿@model ReleaseDateMailer.Models.WatchedGame

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Watched Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailSent)
        </dt>
        <dd>
            @Html.DisplayFor(model=> model.EmailSent)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
